<div class='splash-container'>
  <div class='splash'>
    <h1 class='splash-head'>Campaña</h1>
    <p class='splash-subhead'>Publica tu campaña</p>
    <p><%= link_to 'Nueva campaña', new_campaign_path, class: 'pure-button pure-button-action' %></p>
  </div>
</div>

<div class='content-wrapper'>
  <div class='content'>
    <h2 class='content-head is-center'>
      Más información
    </h2>
  </div>
</div>
